<div id="bands_navigation">
  <ul>
    <% unless params[:id].nil? %>
    <%= content_tag :li, (link_to 'shows', band_appearances_path(params[:id])) unless params[:id].nil? %>
    <% end %>
  </ul>
</div>

<div id="bands_content">
  <%= yield %>
</div>