<h1>New performance</h1>



<%= link_to 'Back', performances_path %>C:/Documents and Settings/Administrator/Application Data/e/tmcmd:3:in `require': no such file to load -- /cygdrive/c/Program Files (x86)/e/Support/lib/escape (LoadError)
  from C:/Documents and Settings/Administrator/Application Data/e/tmcmd:3
