body { text-align:center; }

div#header{ position:relative; }
div#container{ text-align:left; }
div#container { width:700px; margin:0 auto; }
div#wrapper { float:left; width:100%; }
div#primary { margin-left: 150px; }
div#secondary { 
  float:left;
  width:150px;
  margin-left:-700px; }
div#tertiary { 
  float:left;
  width:150px;
  margin-left:-550px; }
div#footer { clear:left; width:100%; text-align:center; }

#header h1 { line-height:40px; }
#header h1 span {
  width:40px;
  height:40px;
  display:block;
  float:left;
  margin-right:10px;
  background:url(/images/bip.gif) no-repeat top left;
}