<% [:notice, :message, :error, :warning].each do |key| -%>
	<% if flash[key] %>
		<% content_tag :div, :id => "feedback", :class => "flash #{key}" do -%>
		  <h3><%= flash_header(key.to_s) %></h3>
			<ul>
		  	<%= content_tag :li, flash[key] %>
			</ul>
		<% end -%>
	<% end -%>
<% end -%>