<div id="appearances_navigation">
  <ul>
    <% unless params[:id].nil? %>
    <%= content_tag :li, (link_to 'setlists', appearance_setlists_path(params[:id])) unless params[:id].nil? %>
    <% end %>
  </ul>
</div>

<div id="appearances_content">
  <%= yield %>
</div>