<div id="setlists_navigation">
  <ul>
    <% unless params[:id].nil? %>
    <%= content_tag :li, (link_to 'performances', setlist_performances_path(params[:id])) unless params[:id].nil? %>
    <% end %>
  </ul>
</div>

<div id="setlists_content">
  <%= yield %>
</div>